h1, nav{
  font-family: 'Varela', sans-serif; //font for headings and navbar
}

.bg{
  background-color: #EDF2F4;
}

.hd{
  color: #2B2D42;
}

p{
  font-family: 'Arvo', serif; //font for body
}

#canDo{
  font-size: 6em;
  font-family: 'Varela', sans-serif;
  border-bottom: 1px dashed red;
  margin-bottom: 1em;
}

button{
  width: 10em;
}

.btn{
  font-family: 'Varela', sans-serif;
}
